# created by virtualenv automatically
*.pdf
*.xml
*.txt
*.csv
*.ods
*.json
*.csv
*.txt
*.xml
*.pkl
*.env
*.log
*.bat
*.sh
.venv*
!run_modules.bat
!run_modules.sh
!*run_all_services*
*model.safetensors
__pycache__/
bin/
lib/
*venv/
pyvenv.cfg
!*output.json
!*requirements.txt
!graphs/*.xml
/fine_tunning/results
/results
*fine-tuned-model*
/fine_tunning/fine-tuned-model2
/api/app/fine-tuned-model
/api/app/fine-tuned-model2
/fine_tunning/log
/data
/documents
/validation/result/add_types.py
/fine_tune_subject/model_results
/fine_tune_subject/models
*.png
!/api/app/init.sh
!set_and_run_api_with docker_compose_quick_guide.txt
.agents/**